#header {
  height: 15vh;
  background-color: rgb(17, 23, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fac650;
}
body {
  background-color: rgb(34, 40, 49);
  margin: 0;
  line-height: 1.6;
  color: white;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  text-align: center;
  flex-grow: 1;
}

.options {
  height: 120px;
  width: 120px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(57, 62, 70);
}

.options:hover {
  cursor: pointer;
}

#footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
